.main-container {
    overflow: auto;
}
.menu .col-3 {
    border-radius: 0;
}

.nav_menu a {
    font-weight: bold;
}

.menu {
    padding: 0;
    min-height: 100vh;
    line-height: 2.5;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) inset;
    min-width: 230px;
}

.menu .nav-tabs {
    border-bottom: none;
}

.menu .nav-tabs .nav-link {
    border: none;
    border-radius: 0;
}

.menu .nav-tabs .nav-link:hover {
    background-color: rgb(187, 187, 187);
}

.nav_menu .active {
    box-shadow: -5px 0 0 -1px rgb(26, 115, 232) inset;
}

.nav_menu .active:hover {
    background-color: white !important;
}

.content {
    min-height: 100vh;
}

.button-header:focus {
    border-color: rgba(0, 0, 0, .1);
    outline: none !important;
    box-shadow: none;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
    margin: auto;

}

.breadcrumb {
    min-width: 180px;
}


.navbar {
    border-radius: 0 0 0.75rem 0.75rem;

}

.navbar .nav-item a {
    display: flex;
    align-items: center;
}

.navbar .nav-tabs {
    border-bottom: none;
}

.navbar .nav-tabs .nav-link {
    border: none;
    border-radius: 0;
}

.navbar-nav .dropdown-menu {
    border-radius: 0.75rem;
}

.dropdown {
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.btn-order {
    border: none;
    background-color: #00d423;
    border-radius: 2rem;
    font-weight: 600;
}

.table-account {
    background-color: #fff;
    border-radius: 0.75rem;
    width: 100%;
    overflow: auto;
    margin: 0 0 1em;
    padding: 0;
}

.table {
    border-top: 2px solid #fff;
}

.table-account tr .btn {
    background-color: #fff;
}

.table-account tr .btn:hover {
    background-color: #28a745;
}

.pay-form {
    border-radius: 0.75rem;
    font-weight: bold;
    border: 0.75rem;
}

.form-group-cabinet {
    margin: 0;
    max-width: 600px;
}

.pay-form .btn {
    border-radius: 0.75rem;
}

.pay-form .btn:focus {
    border-color: rgba(0, 0, 0, .1);
    outline: none !important;
    box-shadow: none;
}


.form-control-custom {
    border: none;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 2px 13px -7px rgba(0, 0, 0, .55);
    border-radius: 2rem;
}

.btn-add {
    border: none;
    background-color: #00d423;
    border-radius: 2rem;
    font-weight: 600;
    width: 100%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}


.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
}

input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    margin: -10px;
}