<!-- VENDOR CSS -->
<link rel="stylesheet" href="{{static ('bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{static ('bower_components/font-awesome-5/css/all.min.css')}}">
<link rel="stylesheet" href="{{static ('/dashboard/plugins/animate-css/vivify.min.css')}}">

<link rel="stylesheet" href="{{static ('bower_components/c3/c3.min.css')}}" />
<link rel="stylesheet" href="{{static ('bower_components/chartist/dist/chartist.min.css')}}" />
<link rel="stylesheet"
    href="{{static ('bower_components/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.css')}}" />
<link rel="stylesheet" href="{{static ('bower_components/toastr/toastr.min.css')}}" />

<!-- MAIN CSS -->
<link rel="stylesheet" href="{{static ('dashboard/css/site.min.css')}}">
{% block extra_css %}{% endblock extra_css %}