venv/
.pki/
.local/
.config/
.cache/
.bash_logout
.bash_profile
.bashrc
.psql_history
.viminfo
.zsh-history
.zshrc
appart.conf
__pycache__
.vscode
settings_local.py
package-lock.json
node_modules/
bower_components/
.idea/