{% extends "main.j2" %}

{% block title %}
{{ _('Choice list') }}
{% endblock title %}

{% block content %}
<div class="block-header">
    <div class="row clearfix">
        <div class="col-md-6 col-sm-12 text-right hidden-xs">
            <a href="{{ url('notice_Choice_create') }}" class="btn btn-sm btn-primary btn-round" title=""> {{ _('Add New choice') }}</a>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="tab-content mt-0">
                <div class="tab-pane active show" id="Users">
                    <div class="table-responsive">
                        <table class="table table-hover table-custom spacing8">
                            <thead>
                                <tr>
                                    <th>{{ _('Question') }}</th>
                                    <th>{{ _('Choice text') }}</th>
                                    <th class="w100">{{ _('Action') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for choice in choices.all() %}
                                <tr>
                                    <td>
                                        <a href="{{url('notice_Choice_detail', kwargs={'pk':choice.pk})}}">
                                            <h6 class="mb-0">{{ choice.question|safe }}</h6>
                                        </a>
                                        <span>{{ _('Votes: ') }}{{ choice.votes }}</span>
                                    </td>
                                    <td>{{ choice.choice_text|truncate(120) }}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-warning" title="{{ _('Edit') }}" onclick="window.location.href = '{{url('notice_Choice_update', kwargs={'pk':choice.pk})}}'"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-sm btn-danger" title="{{ _('Delete') }}" onclick="window.location.href = '{{url('notice_Choice_delete', kwargs={'pk':choice.pk})}}'"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}