/*
 * @author          Andrey Perestyuk (Arrathilar)
 * @email-primary   a.perestyuk@itel.rv.ua
 * @email-secondary arrathilar@blizzard.com, a.perestyuk@archlinux.org,
 * @copyright       2020 ITEL-Service
 */

.orSpacer {
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}

.orSpacerMask {
    overflow: hidden;
    height: 20px;
}

.orSpacer .mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px black;
}

.orSpacerSpan {
    cursor: pointer;
    top: -14px;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #999;
    background: white;
}

.orSpacerSpanI {
    cursor: pointer;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px solid #aaa;
    text-align: center;
    line-height: 20px;
    font-style: normal;
    color: #999;
}