{% extends "main.j2" %}

{% block title %}
{{ _('Question list') }}
{% endblock title %}

{% block content %}
<div class="block-header">
    <div class="row clearfix">
        <div class="col-md-6 col-sm-12 text-right hidden-xs">
            <a href="{{ url('notice_Question_create') }}" class="btn btn-sm btn-primary btn-round" title=""> {{ _('Add New question') }}</a>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="tab-content mt-0">
                <div class="tab-pane active show" id="Questions">
                    <div class="table-responsive">
                        <table class="table table-hover table-custom spacing8">
                            <thead>
                                <tr>
                                    <th>{{ _('Question') }}</th>
                                    <th>{{ _('Actual time') }}</th>
                                    <th class="w100">{{ _('Action') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for question in questions.all() %}
                                <tr>
                                    <td>
                                        <a href="">
                                            <h6 class="mb-0">{{ question.question_text }}</h6>
                                        </a>
                                    </td>
                                    <td>{{ _('From ') }}{{ question.actual_from }}{{ _(' to ') }}{{ question.actual_to }}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-warning" title="{{ _('Edit') }}" onclick="window.location.href = '{{url('notice_Question_update', kwargs={'pk':question.pk})}}'"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-sm btn-danger" title="{{ _('Delete') }}" onclick="window.location.href = '{{url('notice_Question_delete', kwargs={'pk':question.pk})}}'"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}