{% extends "base.j2" %}

{% block content %}
<div class="container text-center mt-4">
    <div class="card text-white bg-danger mb-3" style="max-width: 32rem;">
        <div class="card-header">{{ _('Підтвердіть видалення') }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ _('Дійсно видалити') }} {{house}} </h5>
            <form action="" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <button type="button" onclick="window.location.href = '{{url('condominium_House_list')}}'" class="btn btn-sm btn-success mr-1">{{ _('Ні, повернутися назад') }}</button>
                <button type="submit" class="btn btn-sm btn-danger ml-1">{{ _('Так') }}</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}