{% extends "house_base.j2" %}

{% block title %}
{{ _('Personal cabinet') }}
{% endblock title %}

{% block content %}
<style>
    .list-group-item.list-group-item-action.bg-light.nav-link.active.show {
        background-color: #292d30!important;
    }
</style>
<div class="container-flex">
    <div class="row">
        <div class="col-3">
                <!-- Sidebar -->
            <div class="bg-transparent mb-4" id="sidebar-wrapper" id="myTab" role="tablist">
                <ul class="list-group list-group-flush nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <!-- <li style="list-style-type: none;" class="nav-item">
                        <a id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="false" class="list-group-item list-group-item-action bg-light nav-link">Особиста інформація</a>
                    </li> -->
                    <li style="list-style-type: none;" class="nav-item">
                        <a id="pills-profile-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="true" class="list-group-item list-group-item-action bg-light nav-link">Новини і оголошення</a>
                    </li>
                    <li style="list-style-type: none;" class="nav-item">
                        <a id="pills-payments-tab" data-toggle="pill" href="#pills-payments" role="tab" aria-controls="pills-payments" aria-selected="false" class="list-group-item list-group-item-action bg-light nav-link">Рахунки</a>
                    </li>
                    <li style="list-style-type: none;" class="nav-item">
                        <a id="pills-bills-tab" data-toggle="pill" href="#pills-bills" role="tab" aria-controls="pills-bills" aria-selected="false" class="list-group-item list-group-item-action bg-light nav-link">Оплати</a>
                    </li>
                    <li style="list-style-type: none;" class="nav-item">
                        <a id="pills-services-tab" data-toggle="pill" href="#pills-services" role="tab" aria-controls="pills-services" aria-selected="false" class="list-group-item list-group-item-action bg-light nav-link">Сервісна служба</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
        </div>
        <div class="col-9">
            <div class="tab-content" id="pills-tabContent">
                <!-- <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                    <div class="card mb-3">
                            {# <img src="https://picsum.photos/100/100" class="card-img-left" alt="..."> #}
                        <div class="card-body">
                            <a class="link" href="#">
                                <h5 class="card-title mt-1">Інформація про користувача</h5>
                            </a>
                            <p class="card-text">
                                <ul>
                                    <li>Ім'я: Lorem</li>
                                    <li>Прізвище: Іpsum</li>
                                    <li>Пошта: Іpsum@gmail.com</li>
                                    <li>Дата народження: **.**.****</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div> -->
                <div class="tab-pane fade fade show active" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
                    <div class="mt-2">
                        <img src="https://picsum.photos/300/100" class="card-img-top" alt="...">
                        <div class="alert alert-danger" role="alert">
                            <h5 class="card-title mt-1">Важлива новина</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <img src="https://picsum.photos/300/100" class="card-img-top" alt="...">
                        <div class="alert alert-danger" role="alert">
                            <h5 class="card-title mt-1">Важлива новина</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="card mb-3">
                            <img src="https://picsum.photos/300/100" class="card-img-top" alt="...">
                            <div class="card-body">
                            <a class="link" href="#">
                                <h5 class="card-title mt-1">Стандартна новина</h5>
                            </a>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <div class="footer mt-4">
                                <small class="text-muted">{{ _('Publish date: ') }}</small>
                                <small class="text-muted ml-2">{{ _('Update date: ') }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="tab-pane fade" id="pills-payments" role="tabpanel" aria-labelledby="pills-payments-tab">
                        <table class="table bg-white table-striped">
                            <thead>
                                <tr>
                                <th class="text-center" scope="col">Послуги</th>
                                <th class="text-center" scope="col">Виписаний</th>
                                <th class="text-center" scope="col">Сума</th>
                                <th class="text-center" scope="col">Статус оплати</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-danger">
                                    <td>Внески на управління багатоквартирним Будинком</td>
                                    <td>01.02.2020</td>
                                    <td>1000</td>
                                    <td>Не оплачений</td>
                                </tr>
                                <tr class="table-danger">
                                    <td>Внески на теплову енергію</td>
                                    <td>01.02.2020</td>
                                    <td>2000</td>
                                    <td>Не оплачений</td>
                                </tr>
                                <tr class="table-danger">
                                    <td>Обслуговування кредиту на опорядження дитячого майданчика</td>
                                    <td>01.02.2020</td>
                                    <td>500</td>
                                    <td>Не оплачений</td>
                                </tr>
                                <tr class="table-success">
                                    <td>Внески на управління багатоквартирним Будинком</td>
                                    <td>01.01.2020</td>
                                    <td>1000</td>
                                    <td>Оплачений</td>
                                </tr>
                                <tr class="table-success">
                                    <td>Внески на теплову енергію</td>
                                    <td>01.01.2020</td>
                                    <td>2000</td>
                                    <td>Оплачений</td>
                                </tr>
                                <tr class="table-success">
                                    <td>Обслуговування кредиту на опорядження дитячого майданчика</td>
                                    <td>01.01.2020</td>
                                    <td>500</td>
                                    <td>Оплачений</td>
                                </tr>
                                <tr class="table-success">
                                    <td>Внески на управління багатоквартирним Будинком</td>
                                    <td>01.12.2019</td>
                                    <td>1000</td>
                                    <td>Оплачений</td>
                                </tr>
                                <tr class="table-success">
                                    <td>Внески на теплову енергію</td>
                                    <td>01.12.2019</td>
                                    <td>2000</td>
                                    <td>Оплачений</td>
                                </tr>
                                <tr class="table-success">
                                    <td>Обслуговування кредиту на опорядження дитячого майданчика</td>
                                    <td>01.12.2019</td>
                                    <td>500</td>
                                    <td>Оплачений</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <div class="tab-pane fade" id="pills-bills" role="tabpanel" aria-labelledby="pills-bills-tab">bills</div>
                <div class="tab-pane fade" id="pills-services" role="tabpanel" aria-labelledby="pills-services-tab">services</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}