
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'accounts_User_list' %}">
    User Listing
    </a>
</p>
    
<form method="post">
{% csrf_token %}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="avatar">avatar: </label>
  <input class="form-control col-sm-10" id="avatar" type="text" name="avatar" value="{{ object.avatar }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="birth_date">birth_date: </label>
  <input class="form-control col-sm-10" id="birth_date" type="text" name="birth_date" value="{{ object.birth_date }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="theme">theme: </label>
  <input class="form-control col-sm-10" id="theme" type="text" name="theme" value="{{ object.theme }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="mobile_number">mobile_number: </label>
  <input class="form-control col-sm-10" id="mobile_number" type="text" name="mobile_number" value="{{ object.mobile_number }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="email">email: </label>
  <input class="form-control col-sm-10" id="email" type="text" name="email" value="{{ object.email }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}