
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'payments_BillPayment_list' %}">
    BillPayment Listing
    </a>
</p>
    
<form method="post">
{% csrf_token %}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="amount">amount: </label>
  <input class="form-control col-sm-10" id="amount" type="text" name="amount" value="{{ object.amount }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}