
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'payments_Bill_list' %}">
    Bill Listing
    </a>
</p>
    
<table class="table">
    <tr><td>amount</td><td>{{ object.amount }}</td></tr>
    <tr><td>number</td><td>{{ object.number }}</td></tr>
    <tr><td>date_updated</td><td>{{ object.date_updated }}</td></tr>
    <tr><td>pdf_copy</td><td>{{ object.pdf_copy }}</td></tr>
    <tr><td>date</td><td>{{ object.date }}</td></tr>
    <tr><td>date_created</td><td>{{ object.date_created }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}