
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'notice_Notice_list' %}">
    Notice Listing
    </a>
</p>
    
<table class="table">
    <tr><td>actual_to</td><td>{{ object.actual_to }}</td></tr>
    <tr><td>actual_from</td><td>{{ object.actual_from }}</td></tr>
    <tr><td>picture</td><td>{{ object.picture }}</td></tr>
    <tr><td>title</td><td>{{ object.title }}</td></tr>
    <tr><td>notice_type</td><td>{{ object.notice_type }}</td></tr>
    <tr><td>date_updated</td><td>{{ object.date_updated }}</td></tr>
    <tr><td>date_created</td><td>{{ object.date_created }}</td></tr>
    <tr><td>text</td><td>{{ object.text }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}