
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'notice_Question_list' %}">
    Question Listing
    </a>
</p>
    
<table class="table">
    <tr><td>actual_from</td><td>{{ object.actual_from }}</td></tr>
    <tr><td>actual_to</td><td>{{ object.actual_to }}</td></tr>
    <tr><td>question_text</td><td>{{ object.question_text }}</td></tr>
    <tr><td>date_updated</td><td>{{ object.date_updated }}</td></tr>
    <tr><td>date_created</td><td>{{ object.date_created }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}