<div id="left-sidebar" class="sidebar">
    <div class="navbar-brand align-center">
        {% with company_name = "Стоград" %}
        <a href="index.html"><img style="height: auto; width: 100px" src="{{static ('global/logo.svg')}}"
                alt="Company Logo" class="img-fluid"></a>
        {% endwith %}
        <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i
                class="lnr lnr-menu far fa-window-close"></i></button>
    </div>
    <div class="sidebar-scroll">
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <!-- <li class="header">Main</li> -->
                <li {% if request.resolver_match.url_name == "dashboard_main" %}class="active"{% endif %}>
                    <a href="/"><a href="/">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>{{ _('Main') }}</span>
                    </a>
                </li>
                <li {% if request.resolver_match.url_name == "accounts_User_list" %}class="active"{% endif %}>
                    <a href="{{ url ('accounts_User_list') }}">
                        <i class="fab fa-squarespace"></i>
                        <span>{{ _('Users') }}</span>
                    </a>
                </li>
                <li><a href="{{ url ('user_self_update') }}"><i class="fas fa-user-circle"></i><span>{{ _('Profile') }}</span></a></li>
            </ul>
        </nav>
    </div>
</div>