{% extends "main.j2" %}

{% block title %}
{{ _('Payments list') }}
{% endblock title %}

{% block content %}
<div class="block-header">
    <div class="row clearfix">
        <div class="col-md-6 col-sm-12 text-right hidden-xs">
            <a href="{{url('payments_Payment_create')}}" class="btn btn-sm btn-primary btn-round" title=""> {{ _('Add New payment') }}</a>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="tab-content mt-0">
                <div class="tab-pane active show" id="Users">
                    <div class="table-responsive">
                        <table class="table table-hover table-custom spacing8">
                            <thead>
                                <tr>
                                    <th class="w100">{{ _('Payment type') }}</th>
                                    <th class="w200">{{ _('Payment date') }}</th>
                                    <th>{{ _('Payment amount') }}</th>
                                    <th>{{ _('Payment description') }}</th>
                                    <th class="w100">{{ _('Action') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in payments.all() %}
                                <tr>
                                    <td>
                                        <a href=" {{ url('payments_Payment_detail', kwargs={'pk':payment.pk}) }} ">
                                            <h6 class="mb-0">{{ payment.get_type_display() }}</h6>
                                        </a>
                                    </td>
                                    <td>{{ payment.date }}</td>
                                    <td>{{ payment.amount }}</td>
                                    <td>{{ payment.description }}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-warning" title="{{ _('Edit') }}" onclick="window.location.href = '{{url('payments_Payment_update', kwargs={'pk':payment.pk})}}'"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-sm btn-danger" title="{{ _('Delete') }}" onclick="window.location.href = '{{url('payments_Payment_delete', kwargs={'pk':payment.pk})}}'"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}