{% extends "main.j2" %}

{% block title %}
{{ _('Delete apartment: ') }}{{ object }}
{% endblock title %}

{% block content %}
<div class="container text-center mt-4">
    <div class="card text-white bg-danger mb-3" style="max-width: 32rem;">
        <div class="card-header">{{ _('Confirm delete') }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ _('Delete apartment') }} {{apartment}} ?</h5>
            <form action="" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <button type="button" onclick="window.location.href = '{{ url('condominium_Apartment_list') }}'" class="btn btn-sm btn-success mr-1">{{ _('No, back to list') }}</button>
                <button type="submit" class="btn btn-sm btn-danger ml-1">{{ _('Yes') }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}