{% extends "main.j2" %}

{% block title %}
{{ _('Appartment') }} {{ object }}
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h2 class="text-center">{{ _('Appartment: ') }} {{ object }}</h2>
                </div>
                <ul class="list-group row">
                    {% if object.house %}
                        <li class="list-group-item">
                            <small class="text-muted">{{ _('House: ') }}</small>
                            <p class="mb-0">{{ object.house }}</p>
                        </li>
                    {% endif %}
                    {% if object.resident %}
                        <li class="list-group-item">
                            <small class="text-muted">{{ _('Resident: ') }}</small>
                            <p class="mb-0">{{ object.resident }}</p>
                        </li>
                    {% endif %}
                    {% if object %}
                        <li class="list-group-item">
                            <small class="text-muted">{{ _('Appartment number: ') }}</small>
                            <p class="mb-0">{{ object }}</p>
                        </li>
                    {% endif %}
                    {% if object.area %}
                        <li class="list-group-item">
                            <small class="text-muted">{{ _('Area: ') }}</small>
                            <p class="mb-0">{{ object.area }}</p>
                        </li>
                    {% endif %}
                    {% if object.residents_count %}
                        <li class="list-group-item">
                            <small class="text-muted">{{ _('Residents count: ') }}</small>
                            <p class="mb-0">{{ object.residents_count }}</p>
                        </li>
                    {% endif %}
                    {% if object.description %}
                        <li class="list-group-item">
                            <small class="text-muted">{{ _('Description: ') }}</small>
                            <p class="mb-0">{{ object.description }}</p>
                        </li>
                    {% endif %}
                </ul>

            </div>
            <div class="btn-toolbar justify-content-between mt-2">
                <button type="submit" onclick="window.location.href = '{{url('condominium_Apartment_list')}}'"
                        class="btn btn-info text-right">{{ _('Return') }}</button>
                    <button type="submit"
                        onclick="window.location.href = '{{url('condominium_Apartment_update', kwargs={'pk':apartment.pk})}}'"
                        class="btn btn-warning text-right">{{ _('Edit') }}</button>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}