{% extends "main.j2" %}

{% block title %}
{{ _('Apartment create') }}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header mt-2">
                    <h2 class="text-center">{{ header }}</h2>
                </div>
                <div class="body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {{ csrf_input }}
                        {% for field in form %}
                            {% if field.errors %}
                            <div class="alert alert-danger-2" role="alert">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                            <div class="input-group mb-3">
                                {% if field.field.widget.input_type == 'file' %}
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Upload house logo</span>
                                    </div>
                                    <div class="custom-file">
                                        {{field}}
                                        <label class="custom-file-label" for="id_logo">Choose file</label>
                                    </div>
                                {% else %}
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ field.label }}</span>
                                    </div>
                                    {{field}}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="btn-toolbar justify-content-between mt-2">
                            <button type="button" onclick="window.location.href = '{{url('condominium_Apartment_list')}}'" class="btn btn-info">{{ _('Back to list') }}</button>
                            {# <button type="button" onclick="openModal()"  class="btn btn-warning" data-toggle="modal" data-target="#residentModal">{{ _('Resident management') }}</button> #}
                            <button type="submit" class="btn btn-success">{{ text_submit }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="app">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ _('Input phone number') }}</span>
                            </div>
                            <input type="text" name="" id="searchByNumber" class="form-control">
                            <button id="trigger" class="btn btn-success">{{ _('Check resident') }}</button>
                        </div>
                        <div id="app-wrapper" class="input-group"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# 
<!-- Modal -->
<div class="modal fade" id="residentModal" tabindex="-1" role="dialog" aria-labelledby="residentModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="padding: 1rem" id="modal-wrapper" сlass="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="saveChanges()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> #}
<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<script type="module">
import {
    Ajax,
    Cookie
} from '{{ static('components/components.js')}}'
const pk = {{apartment.pk}};
let trigger = document.querySelector("#trigger");
let wrapper = document.querySelector("#app-wrapper");
let searchInput = document.querySelector("#searchByNumber");
let e = React.createElement;
let rootElement =
    e('div', { className:"container-fluid" },
        e('div', { className:"card-text text-center text-muted" }, "{{ _('Input phone number for search') }}"),
            e('div', { id:"appOutput" },
        )
    )

class Error extends React.Component {
    render() {
        return e('span', { className: 'mt-4 badge badge-danger' }, this.props.message)
    }
}

ReactDOM.render(rootElement, wrapper)
trigger.addEventListener("click", () => {
    if (searchInput.value == "") {
        ReactDOM.render(
            e(Error, { message: '{{ _("Please fill the field") }}'}),
            document.getElementById("appOutput")
        )
    }
    let url = '/api/v1/user/get_by_number/' + searchInput.value;
    let request = new Ajax(wrapper);
    let responce = request.get(url).then(
        response => {
            let user = JSON.parse(response);
            if (user[0] == undefined) {
                ReactDOM.render(
                    e(Error, { message: '{{ _("User not found") }}' }),
                    document.getElementById("appOutput")
                )
            }
            class Wrapper extends React.Component {
                render() {
                    return e('span', { className: 'mt-4' }, this.props.child, this.props.message);
                }
            };
            
            ReactDOM.render(
                e(Wrapper, { message: '{{ _("Email: ")}}' + user[0].email, child: e('span', { className:"badge badge-success" }, '{{ _("User find") }}') },
                ),
                document.getElementById("appOutput")
            )
        },
        error => {
            console.log(`Rejected: ${error}`)
            })
});
</script>

{% endblock content %}