{% extends "main.j2" %}

{% block title %}
{{ _('Apartment create') }}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header mt-2">
                    <h2 class="text-center">{{ header }}</h2>
                </div>
                <div class="body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {{ csrf_input }}
                        {% for field in form %}
                            {% if field.errors %}
                            <div class="alert alert-danger-2" role="alert">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                            <div class="input-group mb-3">
                                {% if field.field.widget.input_type == 'file' %}
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Upload house logo</span>
                                    </div>
                                    <div class="custom-file">
                                        {{field}}
                                        <label class="custom-file-label" for="id_logo">Choose file</label>
                                    </div>
                                {% else %}
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ field.label }}</span>
                                    </div>
                                    {{field}}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="btn-toolbar justify-content-between mt-2">
                            <button type="button" onclick="window.location.href = '{{url('condominium_Apartment_list')}}'" class="btn btn-info">{{ _('Back to list') }}</button>
                            <button type="button" onclick="openModal()"  class="btn btn-warning" data-toggle="modal" data-target="#residentModal">{{ _('Resident management') }}</button>
                            <button type="submit" class="btn btn-success">{{ text_submit }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="residentModal" tabindex="-1" role="dialog" aria-labelledby="residentModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="padding: 1rem" id="modal-wrapper" сlass="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="saveChanges()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
function openModal() {
    let xhr = new XMLHttpRequest();
    let wrapper = document.getElementById('modal-wrapper');
    xhr.open('GET', '/accounts/api/v1/users/', true);
    xhr.responseType = 'json';
    xhr.send();
    xhr.onreadystatechange = function () {
        if (xhr.readyState != 4) return;
        let array = xhr.response;
        array.forEach(element => {
            wrapper.innerHTML += '<p> <td>email: ' + element.email + '</p<>';
        });
    }
}

function getCookie(name) {
    let matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
    ));
    return matches ? decodeURIComponent(matches[1]) : undefined;
}


function saveChanges() {
    {
        #
        let xhr = new XMLHttpRequest();
        let wrapper = document.getElementById('modal-wrapper');
        xhr.open('POST')#
    }


    let csrftoken = getCookie('csrftoken');
    let email = 'tes1t@mail.com';
    let avatar = '';
    let birth_date = '';
    let mobile_number = '';
    let theme = 'DK';


    const request = new XMLHttpRequest();
    const url = "/accounts/api/v1/users/";
    const params = "email=" + email + "&theme=" + theme + "&csrfmiddlewaretoken=" + csrftoken;

    request.responseType = "json";
    request.open("POST", url, true);
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

    request.addEventListener("readystatechange", () => {

        if (request.readyState === 4 && request.status === 200) {
            let obj = request.response;

            console.log(obj);
            console.log(obj.email);
            console.log(obj.theme);
        }
    });

    request.send(params);
}

</script>

{% endblock content %}