<h4 class="text-center wow fadeInUp animated">{{ _('News') }}</h4>
<div class="row mb-4">
    {% for news in notices %}
    <div class="col-4 mx-auto mb-4">
        <div class="card services-item wow fadeInUp animated h-100" data-wow-delay="0.3s"
            style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
            {% if news.picture %}
            <img src="{{ news.picture.url }}" class="card-img-top" alt="News picture">
            {% else %}
            <div class="icon">
                <i class="lni-pencil-alt"></i>
            </div>
            {% endif %}
            <div class="services-content">
                <h3><a href="#">{{ news.title }}</a></h3> <!-- TODO: add link to news detail -->
                <p>{{ news.text }}</p>
            </div>
        </div>
    </div>

    {% endfor %}
</div>