{% extends "house_base.j2" %}

{% block title %}
{{ _('Company page') }}
{% endblock title %}

{% block content %}

<div class="container-flex">
    <div class="contents text-center">
        <h2 class="head-title wow fadeInUp animated" style="visibility: visible;">{{ company.name }}<br>
            {{ company.description }}</h2>
        <div class="header-button wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
            <a href="https://themeforest.net/item/oculux-bootstrap-4x-admin-dashboard-clean-modern-ui-kit/23091507" class="btn btn-common">Official site</a>
        </div>
    </div>
    <div class="img-thumb text-center wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
        <img class="img-fluid rounded mt-2 mb-4" src="https://picsum.photos/1200/400" alt="">
    </div>
    {% include "company/widgets/news_list.j2" %}
</div>
{% endblock content %}