{% extends "house_base.j2" %}

{% block title %}
{{ _('Company page') }}
{% endblock title %}

{% block content %}

<div class="container-flex">
    <div class="contents text-center">
        <h2 class="head-title wow fadeInUp animated" style="visibility: visible;">{{ company.name }}<br>
            {{ company.description }}</h2>
        <div class="header-button wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
            <a href="https://themeforest.net/item/oculux-bootstrap-4x-admin-dashboard-clean-modern-ui-kit/23091507" class="btn btn-common">Official site</a>
        </div>
    </div>
    <div class="img-thumb text-center wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
        <img class="img-fluid rounded mt-2 mb-4" src="https://picsum.photos/1200/400" alt="">
    </div>
    <h4 class="text-center wow fadeInUp animated">{{ _('News') }}</h4>
    <div class="row mb-4">
        <div class="col-4">
            <div class="card services-item wow fadeInUp animated h-100" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                <img src="https://picsum.photos/300/300" class="card-img-top" alt="...">
                <div class="services-content">
                    <h3><a href="#">Про будівництво</a></h3>
                    <p>Будуючи наші об’єкти, ми дотримуємось усіх стандартів згідно з державними будівельними нормами (ДБН), залучаємо досвід різних країн світу, адже наша компанія не стоїть на місці, а розвивається, та іде в ногу з часом. Компанія “Стоград” завжди використовує матеріали вищої якості, довговічні, енергоефективні, як це прийнято у всьому світі</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card services-item wow fadeInUp animated h-100" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                <img src="https://picsum.photos/300/300" class="card-img-top" alt="...">
                <div class="services-content">
                    <h3><a href="#">Про будівництво</a></h3>
                    <p>Будуючи наші об’єкти, ми дотримуємось усіх стандартів згідно з державними будівельними нормами (ДБН), залучаємо досвід різних країн світу, адже наша компанія не стоїть на місці, а розвивається, та іде в ногу з часом. Компанія “Стоград” завжди використовує матеріали вищої якості, довговічні, енергоефективні, як це прийнято у всьому світі</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card services-item wow fadeInUp animated h-100" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                <img src="https://picsum.photos/300/300" class="card-img-top" alt="...">
                <div class="services-content">
                    <h3><a href="#">Ми дбаємо про комфорт</a></h3>
                    <p>Комфортно тоді, коли все зручно, близько та безшумно. Підбираючи місце для будівництва, ми завжди враховуємо усі ці фактори. Біля наших будинків Ви завжди знайдете все, що необхідно. Практично скрізь поряд дитячі садочки, школи, аптеки, магазини та супермаркети.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="contact-right-area wow fadeIn animated" style="visibility: visible;">
                <h2>{{ _('Contacts') }}</h2>
                <div class="contact-right">
                    <div class="single-contact">
                        <div class="contact-icon">
                            <i class="lni-map-marker"></i>
                        </div>
                        <p>{{ company.address }}</p>
                    </div>
                    <div class="single-contact">
                        <div class="contact-icon">
                            <i class="lni-envelope"></i>
                        </div>
                        <p><a href="#">info@gmail.com</a></p>
                        <p><a href="#">circle@gmail.com</a></p>
                    </div>
                    <div class="single-contact">
                        <div class="contact-icon">
                            <i class="lni-phone-handset"></i>
                        </div>
                        <p><a href="#">{{ company.phone }}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card services-item wow fadeInUp animated h-100" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                <div class="icon">
                    <i class="lni-pencil-alt"></i>
                </div>
                <div class="services-content">
                    <h3><a href="#">Про будівництво</a></h3>
                    <p>Будуючи наші об’єкти, ми дотримуємось усіх стандартів згідно з державними будівельними нормами (ДБН), залучаємо досвід різних країн світу, адже наша компанія не стоїть на місці, а розвивається, та іде в ногу з часом. Компанія “Стоград” завжди використовує матеріали вищої якості, довговічні, енергоефективні, як це прийнято у всьому світі</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card services-item wow fadeInUp animated h-100" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                <div class="icon">
                    <i class="lni-pencil-alt"></i>
                </div>
                <div class="services-content">
                    <h3><a href="#">Ми дбаємо про комфорт</a></h3>
                    <p>Комфортно тоді, коли все зручно, близько та безшумно. Підбираючи місце для будівництва, ми завжди враховуємо усі ці фактори. Біля наших будинків Ви завжди знайдете все, що необхідно. Практично скрізь поряд дитячі садочки, школи, аптеки, магазини та супермаркети.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}