/*
 * @author          Andrey Perestyuk (Arrathilar)
 * @email-primary   a.perestyuk@itel.rv.ua
 * @email-secondary arrathilar@blizzard.com, a.perestyuk@archlinux.org,
 * @copyright       2020 ITEL-Service
 */

.border {
    /*border: 2px solid black !important;*/
    border-style: solid !important;
    border-width: 1px;
    border-color: black !important;
}

.tableBorder {
    border: 2px solid black !important;
}