
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'condominium_Apartment_list' %}">
    Apartment Listing
    </a>
</p>
    
<form method="post">
{% csrf_token %}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="description">description: </label>
  <input class="form-control col-sm-10" id="description" type="text" name="description" value="{{ object.description }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="area">area: </label>
  <input class="form-control col-sm-10" id="area" type="text" name="area" value="{{ object.area }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="residents_count">residents_count: </label>
  <input class="form-control col-sm-10" id="residents_count" type="text" name="residents_count" value="{{ object.residents_count }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}