
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'condominium_Apartment_list' %}">
    Apartment Listing
    </a>
</p>
    
<table class="table">
    <tr><td>description</td><td>{{ object.description }}</td></tr>
    <tr><td>area</td><td>{{ object.area }}</td></tr>
    <tr><td>residents_count</td><td>{{ object.residents_count }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}