
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'condominium_Company_list' %}">
    Company Listing
    </a>
</p>
    
<table class="table">
    <tr><td>fullname</td><td>{{ object.fullname }}</td></tr>
    <tr><td>chief</td><td>{{ object.chief }}</td></tr>
    <tr><td>logo</td><td>{{ object.logo }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td>phone</td><td>{{ object.phone }}</td></tr>
    <tr><td>address</td><td>{{ object.address }}</td></tr>
    <tr><td>description</td><td>{{ object.description }}</td></tr>
    <tr><td>bank_requisites</td><td>{{ object.bank_requisites }}</td></tr>
    <tr><td>requisites</td><td>{{ object.requisites }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}