<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Copyright © 2020 Itel-Service All Right Reserved</p>
            </div>
        </div>
    </div>
</section>