<footer id="footer" class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                <div class="footer-logo mb-3">
                    <img src="assets/img/logo-light.png" alt="">
                </div>
                <p>Стоград — надійний забудовник, який відзначається високою якістю будівництва!</p>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                <h3 class="footer-titel">Company</h3>
                <ul>
                    <li><a href="#">{{ _('Official page') }}</a></li>
                    <li><a href="#">{{ _('Contacts') }}</a></li>
                </ul>
            </div>
            {# <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp animated" data-wow-delay="0.8s" style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">
                <h3 class="footer-titel">Find us on</h3>
                <div class="social-icon">
                    <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                    <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                    <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                    <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
            </div> #}
        </div>
    </div>
</footer>